<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log in</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template"/>
    <meta name="author" content="CodedThemes"/>

</head>

<body>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="auth-wrapper">
          <div class="auth-content">
              <div class="auth-bg">
                  <span class="r"></span>
                  <span class="r s"></span>
                  <span class="r s"></span>
                  <span class="r"></span>
              </div>

              <div class="card">
                  <div class="card-body text-center">
                      <div class="mb-4">
                          <i class="feather icon-unlock auth-icon"></i>
                      </div>
                      <h3 class="mb-4">Login</h3>



                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1"><i class="feather icon-users"></i></span>
                          </div>
                          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: 'form-control' %>
                      </div>

                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1"><i class="feather icon-lock"></i></span>
                              </div>
                              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control input-box_field", id: "myInput"%>

                              <div class="input-group-append">
                                <span class="input-group-text" onclick="myFunction()">
                                  <i class="feather icon-eye" id="hide1"></i>
                                  <i class="feather icon-eye-off" id="hide2"></i>
                                </span>
                              </div>
                          </div>

                      <% if devise_mapping.rememberable? %>
                          <div class="form-group text-left">
                              <div class="checkbox checkbox-fill d-inline">
                                  <%= f.check_box :remember_me, name:'checkbox-fill-1', id:"checkbox-fill-a1", checked:""%>
                                  <%= f.label :remember_me, for:"checkbox-fill-a1", class: 'cr' do %>
                                      Save Details
                                  <%end %>
                              </div>
                          </div>
                      <% end %>

                      <%= f.submit "Log in", class: 'btn btn-primary shadow-2 mb-4'%>
                      <p class="mb-2 text-muted">Forgot password? <a href="/users/password/new">Reset</a></p>
                  </div>
              </div>
          </div>
      </div>
    <% end %>
</body>

<%= render "devise/shared/links" %>
</html>
